################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MarbleGame.Domain/MarbleGame.Domain/obj
/MarbleGame.Domain/MarbleGame.Domain/bin/Debug/netstandard2.0
/MarbleGame.Domain/MarbleGame.DomainTests/bin/Debug/netcoreapp3.1
/MarbleGame.Domain/MarbleGame.DomainTests/obj
